* {
	font-family: Helvetica;
	
}

body {
	background-color: #262626;
}

h1 {
	color: white;
	align-text: center;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	width: 20%;
}

p {
	color: white;
	align-text: center;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 150px;
	width: 20%;
}

.flex-container {
	display: flex;
	justify-content: center;
	position: relative;
}